<!-- <form method="POST">

<input
type="text"
name="username">

<br><br>

<button>

Submit

</button>

</form> -->
<!-- 
<form method="POST">

<label>Enter Name:</label>

<br><br>

<input
type="text"
name="name">

<br><br>

<button type="submit">

Submit

</button>

</form> -->

<form method="POST">

<label>Username:</label>

<br>

<input type="text" name="username">

<br><br>

<label>Password:</label>

<br>

<input type="password" name="password">

<br><br>

<button type="submit">

Login

</button>

</form>